/* ======================================= */
/* 1440px -> Telas grandes de desktop      */
/* ======================================= */
@media (max-width: 1440px) {
  .container__product__info {
    width: 40%;
  }
  .container__product {
    gap: 50px;
  }
  .container__product__img {
    min-width: 37%;
  }
  .container__product__info__text__description {
    padding-bottom: 10px;
  }
  .container__product__info__quantity {
    padding-top: 20px;
  }
}
/* ======================================= */
/* 1250px -> Ajustes para telas médias     */
/* ======================================= */

@media (max-width: 1250px) {
  .container__product__img {
    width: 45%;
  }
  .container__product__img__smaller {
    gap: 10px;
  }
  .img__smaller1,
  .img__smaller2,
  .img__smaller3,
  .img__smaller4 {
    border-radius: 16px;
  }
  .container__product__info__text__title {
    font-size: 42px;
  }
  .container__product__info__text__description {
    font-size: 16px;
  }
}
/* ======================================= */
/* 1024px -> Telas de laptop / desktop menor */
/* ======================================= */
@media (max-width: 1024px) {
  .nav__item {
    margin-left: 0;
    height: auto;
    width: 100%;
    justify-content: center;
  }
  .nav__item a {
    width: 100%;
    padding: 10px 0px 10px 30px;
    border-right: 10px solid transparent;
    display: flex;
    border-bottom: none;
    justify-content: start;
  }
  .nav__item a:hover {
    border-right: 10px solid var(--orange);
    border-bottom: none;
  }
  .mobile__menu {
    display: flex;
  }

  .nav__list {
    width: 30%; /* motificacao importatde para 35%   */
    min-height: calc(100vh - 82px);
    position: fixed;
    left: -60%;
    top: 82px;
    background-color: var(--light-grayish-blue);
    /* backdrop-filter: blur(1px); */
    z-index: 300;
    transition: 1s;
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    /* gap: 30px; */
  }

  .nav__list.active {
    left: 0;
  }
  .container__product__info__text__description {
    padding-bottom: 10px;
  }
  .container__product__info__quantity {
    padding-top: 20px;
  }

  .modal__container__cart {
    padding: 60px 20px !important; /* Ajuste o valor conforme necessário */
  }

  .navbar__container {
    gap: 10px;
    padding-top: 5px;
  }
  nav {
    border: none;
    padding: 20px 15px;
  }
  .navbar__cart__profile__container {
    gap: 5px;
  }
  header {
    width: 100%;
  }

  .container_main_center {
    width: 100%;
  }
  .logo__container {
    align-self: center;
  }

  .modal {
    margin: 10px 20px;
  }
  .container__product__info{
    width: 43%;
  }
}

/* ======================================= */
/* 850px -> Tablets / dispositivos médios  */
/* ======================================= */
@media (max-width: 850px) {
  .container__product {
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding: 0;
  }
  .container__product__info {
    width: 100%;
    padding: 20px 10px 10px;
  }
  .container__product__img {
    width: 100%;
    min-width: 451px;
    height: 50%;
    flex-direction: row;
    justify-content: center;
    padding: 10px; /* Ajuste o valor conforme necessário*/
    overflow: auto;
  }
  .container__product__img__smaller {
    display: none;
  }
  .div__img__bigger {
    display: flex;
    justify-content: center;
  }
  .div__img__bigger img {
    width: 90%;
    height: 30%;
    /* border-radius: 0; */
  }
  .btn__setas__direita,
  .btn_setas__esquerda {
    display: flex;
  }
}
/* ======================================= */
/* 550px -> Telas pequenas (smartphones+)  */
/* ======================================= */

@media (max-width: 550px) {
  .container__product,
  .container__product__img {
    padding: 0;
  }
  .navbar__profile {
    width: 32px;
    height: 32px;
  }
  .nav__list {
    width: 60%;
    height: calc(100vh - 72px);
    top: 72px;
  }
  .container__product__img {
    min-width: 100%;
  }

  .container__product__info__quantity {
    display: flex;
    flex-direction: column;
  }
  .container__product__info__quantity__control {
    width: 100%;
    justify-content: space-between;
  }
  .container__product__info__price {
    justify-content: space-between;
  }
  .container__product__info__quantity__btn {
    width: 100%;
  }
  .container__product__info {
    padding: 20px;
  }

  .img__main {
    height: auto;
  }
  .div__img__bigger {
    width: 100%;
  }

  .div__img__bigger img {
    width: 100%;
    border-radius: 0;
    object-fit: contain;
  }
}
@media (max-width: 400px) {
  .div__img__bigger img {
    max-height: 400px; /* se quiser um limite, por exemplo */
  }
  .modal {
    min-height: 100px;
    display: flex;
    flex: 1 1 350px;
    margin: 10px;
  }

  .navbar__cart {
    width: 25px;
    height: 25px;
  }
  .btn__setas__direita,
  .btn_setas__esquerda {
    width: 35px;
    height: 35px;
  }
  nav{
    padding: 20px 5px;
  }
}
