@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
@import url(herader.css);
@import url(motal.css);
@import url(menu.css);
@import url(main.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-family: "Kumbh Sans", serif;
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
}
/* 
* ### Neutral
- Very dark blue: hsl(220, 13%, 13%)
- Dark grayish blue: hsl(219, 9%, 45%)
- Grayish blue: hsl(220, 14%, 75%)
- Light grayish blue: hsl(223, 64%, 98%)
- White: hsl(0, 0%, 100%)
- Black (with 75% opacity for lightbox background): hsl(0, 0%,0%) */

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--light-grayish-blue);
  font-family: var(--font-family);
  overflow-x: hidden;
}
a {
  cursor: pointer;
}
/* Estilo da barra de rolagem */
::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
  height: 10px; /* Altura da barra de rolagem (horizontal) */
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: #f0f0f0; /* Cor do fundo da barra */
  border-radius: 5px;
}

/* Thumb (o "botão" que desliza) */
::-webkit-scrollbar-thumb {
  background: #888; /* Cor do botão */
  border-radius: 5px;
}

/* Thumb ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor do botão ao passar o mouse */
}
